@media (min-width: 315px) and (max-width: 385.9px) {
    .container .box span{
        font-size: 30px;
        transform: translate(-50%, -50%)
            rotateX( calc(var(--i) * 36deg)) 
            translateZ(70px);
    }
}

@media (max-width: 314.9px) {
 
    .container .box span{
        font-size: 24px;
        transform: translate(-50%, -50%)
            rotateX( calc(var(--i) * 36deg)) 
            translateZ(50px);

    }
}