
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
 
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#heart {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-100%);
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* overflow: hidden; */
    cursor: pointer;
    font-size: 40px;
    color: #b1024b;
}

#heart::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background-color: #b1024b;
}

#heart::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 50%;
    border-radius: 50%;
    animation: animatedHeart 0.78s linear infinite;
    border: 5px solid #b1024b;
}

@keyframes animatedHeart {
    from {
        opacity: 1;
    }
    to {
        border-width: 0;
        opacity: 0;
        transform: translate(-50%,-50%) scale(1.56);
    }
}

#heart:active .heart__icon--h {
    transform: scale(1.3);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


.container .bg {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    /* background-color: rgb(63, 34, 63); */
    background: url("../img/bk.jpg") no-repeat left; 
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.text--animate {
    position: absolute;
    top: 70px;
    max-width: 96%;
    color: #d6e7df;
    z-index: 0;
    padding: 10px 32px;
    text-align: center;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.541);
}

.text--sub {
    word-wrap: break-word;
    z-index: 10;
    font-size: 44px;
    text-shadow: 0 0 5px #99ddbdd8,
    0 0 10px #99ddbde0,
    0 0 25px #99ddbde0,
    0 0 35px #99ddbde0,
    0 0 45px #99ddbde0;
    color: rgb(255, 255, 255);
}
.text--animate::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 1px;
    z-index: -1;
    border-radius: 50px;
    background: rgba(32, 179, 223, 0.87);
    animation: ani 1s ease-in forwards;

}

@keyframes ani {
    from {
        width: 0%;
    } 
    to {
        width: 100%;
    }
}


.container .box {
    margin-top: 100px;
    transform-style: preserve-3d;
    animation: aniX 25s linear infinite;
}

@keyframes aniX {
    0% {
        transform: perspective(1000px) rotateX(0deg) rotate(25deg);
    } 100% {
        transform: perspective(1000px) rotateX(360deg) rotate(25deg);
    }
}

.container .box span{
    position: absolute;
<<<<<<< HEAD
    height: 150px;
=======
    height: 130px;
>>>>>>> d7e8137f9fa41988fc45791656a53b7239018200
    margin-top: 10px;
    color: rgb(162, 229, 255);
    font-size: 3em;
    white-space: nowrap;
    /* text-shadow: 10px 10px 10px rgb(162, 229, 255); */
    text-transform: uppercase;
    padding: 0 10px;
    transform-style: preserve-3d;    
<<<<<<< HEAD
    text-shadow: 0 10px 10px rgba(151, 151, 151, 0.4);
    transform: translate(-50%, -50%) rotateX( calc(var(--i) * 36deg)) translateZ(100px);
=======
    text-shadow: 0 5px 10px rgb(151 151 151 / 45%);
    transform: translate(-50%, -50%) rotateX( calc(var(--i) * 22.5deg)) translateZ(100px);
>>>>>>> d7e8137f9fa41988fc45791656a53b7239018200

}


.box__icon {
    font-style: initial;
    color: rgb(209, 0, 0);
}

